:root {
  --border-radius: 4px;
  --btn-padding: 8px 12px;
}

.reset {
  border: none;
  font-family: inherit;
  padding: 0;
  margin: 0;
  background: transparent;
  user-select: none;
  text-transform: uppercase;
  transition: all 150ms ease;
}
.raised {
  padding: var(--btn-padding);
  background-color: var(--color-dark-pink);
  color: #fff;
  font-family: inherit;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.raised:hover {
}
.flat {
  padding: var(--btn-padding);
  border-radius: var(--border-radius);
}
.flat:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.outline {
}
.circle {
}
